UML/百色报表推送数据分析流.yml
app:
  description: 根据报表统计摘要分析数据，生成结构化的智能分析简报（Markdown格式）。
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 百色报表推送数据分析流
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: llm
      id: start_to_llm
      source: start
      sourceHandle: source
      target: llm
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: code
      id: llm_to_validation
      source: llm
      sourceHandle: source
      target: validation
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: end
      id: validation_to_end
      source: validation
      sourceHandle: source
      target: end
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: 开始
        type: start
        variables:
        - default: ''
          label: AI分析关注点
          max_length: 500
          options: []
          required: false
          type: text-input
          variable: AI_ANALYSIS_FOCUS
        - default: '{}'
          label: 统计摘要数据 (JSON)
          max_length: 65535
          options: []
          required: true
          type: paragraph
          variable: statistical_summary
        - default: '800'
          label: 最大字数限制
          max_length: 10
          options: []
          required: true
          type: text-input
          variable: MAX_WORDS
      height: 161
      id: start
      position:
        x: 80
        y: 282
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        description: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4o-mini
          provider: openai
        prompt_template:
        - id: system
          role: system
          text: '你是一位资深的业务分析专家。请根据提供的易问单工单统计数据，生成一份专业的业务分析简报。


            ### 输入数据：

            - **统计摘要**: {{#start.statistical_summary#}}

            - **用户关注点**: {{#start.AI_ANALYSIS_FOCUS#}}


            ### 报告要求：

            1. **结构化展示**: 使用 Markdown 格式，包含标题、数据概览、趋势分析、问题诊断及优化建议。

            2. **聚焦关键指标**: 重点分析“自分类分布”、“一线人员身份分布”以及“办结时长”指标。

            3. **洞察力**: 不要只罗列数字，要分析数字背后的业务含义。

            4. **精炼**: 报告字数控制在 {{#start.MAX_WORDS#}} 字以内。


            直接输出 Markdown 内容，不要包含前导词。'
        selected: true
        title: LLM分析引擎
        type: llm
      height: 88
      id: llm
      position:
        x: 380
        y: 282
      type: custom
      width: 242
    - data:
        code: "def main(analysis_result: str) -> dict:\n    return {\n        \"final_analysis\"\
          : analysis_result.strip(),\n        \"word_count\": len(analysis_result.strip())\n\
          \    }"
        code_language: python3
        outputs:
          final_analysis:
            type: string
            variable: final_analysis
          word_count:
            type: number
            variable: word_count
        selected: false
        title: 结果处理
        type: code
        variables:
        - value_selector:
          - llm
          - text
          variable: analysis_result
        version: '2'
      height: 52
      id: validation
      position:
        x: 680
        y: 282
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - validation
          - final_analysis
          variable: analysis
        - value_selector:
          - validation
          - word_count
          variable: word_count
        selected: false
        title: 结束
        type: end
      height: 114
      id: end
      position:
        x: 980
        y: 282
      type: custom
      width: 242
  viewport:
    x: 0
    y: 0
    zoom: 1
